@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.slider-section .slider-overlay{
    background: rgba(0, 0, 0,0.6);
}
.course-h5-col{
    color:#4A4A4A;
}
.course-p-col{
    color: #777777;
}
.join-p-col{
    color:#F4F4F4;
}
.modal{
    z-index: 99999;
}
.modal .modal-overlay{
    background: rgba(40, 155, 222,0.5);
}
.footer-bg{
    background: #161616;
}
/* =============== media query starts =========== */
@media(max-width:991px) {
    .carousel-item .slider-img img{
        height:400px;
    }
}
/* =============== media query ends =========== */